.editor {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.bn-editor {
	height: 100vh;
	width: 100%;
	border-radius: 0;
}

.completion-button {
	position: fixed;
	display: flex;
	flex-direction: row;
	bottom: 72px;
	right: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.completion-button:hover {
	background-color: #0056b3;
}

.spinner {
	margin-left: 10px;
	border: 4px solid rgba(0, 0, 0, 0.1);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border-left-color: #007bff;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.button-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 12px;
	right: 24px;
}

.RAG-Icon {
	height: 28px;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
}

.auto-completion-button {
	height: 28px;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
}
