@import "@/styles/variables";

.section {
  @include themed() {
    border-bottom: 1px solid t(color-border);
  }
}

.sectionHeader {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  cursor: pointer;
  @include themed() {
    background-color: t(color-background-secondary);
  }

  &:hover {
    @include themed() {
      background-color: t(color-background-hover);
    }
  }
}

.addButton {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: transparent;
  border: none;
  cursor: pointer;
  @include themed() {
    color: t(color-text-secondary);
  }

  &:hover {
    @include themed() {
      background-color: t(color-background-hover);
      border-color: t(color-text-muted);
    }
  }
}
