@import "@/styles/variables";

.menuItem {
  @include themed() {
    border-bottom: 1px solid t(color-border);
  }
}

.menuHeader {
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    @include themed() {
      background-color: t(color-background-hover);
    }
  }

  &.active {
    @include themed() {
      background-color: t(color-background-active);
    }
  }
}
