@import "@/styles/variables";

.submenu {
  background-color: $color-background-secondary;
}

.submenuGroup {
  background-color: $color-background-secondary;
}

.submenuHeader {
  padding: 8px 16px 8px 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;

  &:hover {
    background-color: $color-background-hover;
  }
}

.submenuItems {
  background-color: $color-background-secondary;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  opacity: 0;

  &.expanded {
    height: 96px;
    opacity: 1;
  }
}

.submenuItem {
  height: 16px;
  padding: 8px 16px 8px 56px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $color-background-hover;
  }

  &.active {
    background-color: $color-background-active;
  }
}
