@import "@/styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include themed() {
    background-color: t(color-overlay);
  }
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  @include themed() {
    background: t(color-background-primary);
  }
  border-radius: 8px;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  @include themed() {
    color: t(color-text-primary);
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  @include themed() {
    color: t(color-text-primary);
  }
  font-size: 20px;
  cursor: pointer;
  z-index: 1;

  &:hover {
    @include themed() {
      color: t(color-text-muted);
    }
  }
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  @include themed() {
    background-color: t(color-background-secondary);
    border-right: 1px solid t(color-border);
  }
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.promptEditor {
  padding: 20px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 16px;

  textarea {
    flex: 1;
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 14px;
    border: none;
    resize: none;
    @include themed() {
      background-color: t(color-background-primary);
      color: t(color-text-primary);
    }

    &:focus {
      outline: none;
    }
  }
}

.promptPath {
  font-size: 16px;
  @include themed() {
    color: t(color-text-secondary);
  }
  margin-bottom: 16px;
  padding-bottom: 8px;
  @include themed() {
    border-bottom: 1px solid t(color-border);
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.saveButton {
  height: 40px;
  padding: 8px 24px;
  @include themed() {
    background-color: t(color-button-primary);
    color: t(color-text-primary);
  }
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    @include themed() {
      background-color: t(color-button-primary-hover);
    }
  }

  &:active {
    @include themed() {
      background-color: t(color-button-primary-active);
    }
  }

  &.disabled {
    @include themed() {
      background-color: t(color-button-disabled);
      color: t(color-text-secondary);
    }
    cursor: default;

    &:hover {
      @include themed() {
        background-color: t(color-button-disabled);
      }
    }

    &:active {
      @include themed() {
        background-color: t(color-button-disabled);
      }
    }
  }
}

.menuItem {
  padding: 12px 16px;
  cursor: pointer;
  @include themed() {
    color: t(color-text-primary);

    &:hover {
      background-color: t(color-background-hover);
    }

    &.active {
      background-color: t(color-background-active);
    }
  }
}
