@import "@/styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: $color-background-primary;
  border-radius: 8px;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  color: $color-text-primary;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: $color-text-primary;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;

  &:hover {
    color: $color-text-muted;
  }
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: $color-background-secondary;
  border-right: 1px solid $color-border;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.promptEditor {
  padding: 20px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 16px;

  textarea {
    flex: 1;
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 14px;
    border: none;
    resize: none;
    background-color: $color-background-primary;
    color: $color-text-primary;

    &:focus {
      outline: none;
    }
  }
}

.promptPath {
  font-size: 16px;
  color: $color-text-secondary;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid $color-border;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.saveButton {
  height: 40px;
  padding: 8px 24px;
  background-color: $color-button-primary;
  color: $color-text-primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: $color-button-primary-hover;
  }

  &:active {
    background-color: $color-button-primary-active;
  }

  &.disabled {
    background-color: $color-button-disabled;
    color: $color-text-secondary;
    cursor: default;

    &:hover {
      background-color: $color-button-disabled;
    }

    &:active {
      background-color: $color-button-disabled;
    }
  }
}
