@import "@/styles/_variables";

.sidebar {
  width: 200px;
  height: 100%;
  background-color: $color-background-primary;
  border-right: 1px solid $color-border;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: $color-text-primary;
}

.footer {
  margin-top: auto;
  padding: 2rem 0;
}

.promptButton {
  width: 100%;
  padding: 0.5rem;
  background-color: $color-button-primary;
  border: 1px solid $color-button-primary;
  color: $color-text-primary;
  cursor: pointer;

  &:hover {
    background-color: $color-button-primary-hover;
  }
}
