@import "@/styles/variables";

.sidebar {
  width: 200px;
  height: 100%;
  @include themed() {
    background-color: t(color-background-primary);
    border-right: 1px solid t(color-border);
  }
  display: flex;
  flex-direction: column;
  @include themed() {
    color: t(color-text-primary);
  }
}

.footer {
  margin-top: auto;
  padding: 2rem 0;
}

.promptButton {
  width: 100%;
  padding: 0.5rem;
  @include themed() {
    background-color: t(color-button-primary);
    border: 1px solid t(color-button-primary);
    color: t(color-text-primary);
  }
  cursor: pointer;

  &:hover {
    @include themed() {
      background-color: t(color-button-primary-hover);
    }
  }
}
