@use "@/styles/variables";

.itemWrapper {
	background-color: var(--color-background-secondary);
	overflow: hidden;
	// transition: height 0.3s ease;
	// opacity: 0;

	&.expanded {
		height: 96px;
		opacity: 1;
	}

	.item {
		height: 16px;
		padding: 8px 8px 8px 8px;
		cursor: pointer;
		font-size: 14px;
		display: flex;
		flex-direction: row;
		align-items: center;
		color: var(--color-text-primary);

		&:hover {
			background-color: var(--color-background-hover);
		}

		&.active {
			background-color: var(--color-background-active);
		}

		.itemIcon {
			width: 16px;
			height: 16px;
			margin-right: 8px;
			color: var(--color-text-primary);
		}

		.itemName {
			width: 100%;
		}
	}
}
