@use "@/styles/variables";

.menuItem {
	width: 100%;
}

.menuHeader {
	font-size: 12px;
	font-weight: bold;
	padding: 12px 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;

	color: var(--color-text-primary);

	&:hover {
		background-color: var(--color-background-hover);
	}

	&.active {
		background-color: var(--color-background-active);
	}

	&.dirty {
		color: var(--color-text-dirty);
	}
}

.submenu {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.3s ease;

	&.expanded {
		max-height: 600px;
		opacity: 1;
	}
}
