@import "@/styles/variables";

.contextMenu {
  position: absolute;
  @include themed() {
    background: rgba(t(color-background-primary), 0.5);
    border: 1px solid rgba(t(color-text-muted), 0.2);
    box-shadow: 0 2px 5px t(color-shadow);
  }
  border-radius: 4px;
  padding: 4px 0;
  z-index: 1000;
  backdrop-filter: blur(8px);

  button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    @include themed() {
      color: t(color-text-primary);
      &:hover {
        background-color: t(color-background-hover);
      }
    }
  }
}
