@import "@/styles/variables";

.contextMenu {
  position: absolute;
  background: rgba($color-background-primary, 0.5);
  border: 1px solid rgba($color-text-muted, 0.2);
  border-radius: 4px;
  padding: 4px 0;
  z-index: 1000;
  box-shadow: 0 2px 5px $color-shadow;
  backdrop-filter: blur(8px);

  button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background: none;
    color: $color-text-primary;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: $color-background-hover;
    }
  }
}
