.App {
  height: 100vh;
}

[data-panel-resize-handle] {
  background: #000;
  opacity: 0.2;
  width: 4px;
  margin: 0 -2px;
  cursor: col-resize;
}

[data-panel-resize-handle]:hover {
  opacity: 0.4;
}
